@import 'colors-waybar.css';

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 19;
    min-height: 0;
    margin: 2;
}

window#waybar {
    background: transparent;
    color: white;
}

#custom-arch, #pulseaudio-slider, #clock, #workspaces, #pulseaudio, #language, #tray, #battery, #custom-n-center, #window, #group-status{
    border-radius:13;
    border-width: 5;
    border: 4 solid @color14;
    border-radius:13;
    background: @background_rgba;
    color: @color15;
    padding: 2;
}

#workspaces button {
    border-radius: 10;
    background: transparent;
    color: @color15;
    padding: 3;
}

#workspaces button.active {
    border-radius: 10;
    background: @color2;
    color: @color15;
    padding: 3;
}

#pulseaudio-slider slider {
    min-height: 10px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 80px;
    min-width: 20px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @color15;
}
