* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 19;
    min-height: 0;
    margin: 2;
}

window#waybar {
    background: transparent;
    color: white;
}

#custom-arch, #clock, #workspaces, #pulseaudio, #language, #tray, #battery, #custom-n-center, #window, #group-status{
    border-radius:13;
    border-width: 5;
    border: 4 solid #83B4FF;
    border-radius:13;
    background: rgba(26, 33, 48, .75);
    color: white;
    padding: 2;
}

#workspaces button {
    border-radius: 10;
    background: transparent;
    color: white;
    padding: 3;
}

#workspaces button.active {
    border-radius: 10;
    background: #83B4FF;
    color: white;
    padding: 3;
}
